@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');    font-family: 'Ubuntu', sans-serif; */
/*var de cor e font*/
:root{
  --cor1: #242840;
  --cor2: #2573D9;
  --cor3: #3264A6;
  --cor4:#2A558C ;
  --cor5: #BD2A2E ;
  --font-main:'Open Sans', sans-serif;
  --secon-font:'Roboto', sans-serif;
  --border: 1px solid var(--cor5) ;
}
*{
  font-family: var(--secon-font);
  margin: 0; padding: 0; 
  text-decoration: none;
  text-transform: capitalize;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--cor1);
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to top, var(--cor5), var(--cor2), var(--cor1));
  height: 500px;
  width: 500px;
  padding: 2rem 4rem;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.408);
}

.container h1{
  color: white;
  text-align: center;
  font-family: var(--font-main);
  font-size: 2rem;
  margin-bottom: 30px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.31);
}


.container .content{
  display: flex;
  flex-direction: column;
  color: white;
  margin-bottom: 1.2rem;
  padding: 1.2rem;
  outline: none;
}

.container .content input{
  margin-bottom: 20px;
  width: 100%;
  border-radius: 10px;
  height: 40px;
  border: none;
}

input:hover , textarea:hover , input:focus, textarea:focus{
  border-color: #3385ff;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.267);
  color: #000;
  font-weight: 500;
}


textarea{
  line-height: 10px;
}

/* CSS */
.btn {
  align-items: center;
  background-color: #06f;
  border: 2px solid #06f;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter,sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 20px;
}

.btn:focus {
  color: #171e29;
}

.btn:hover {
  background-color: #3385ff;
  border-color: #3385ff;
  fill: #06f;
}

.btn:active {
  background-color: #3385ff;
  border-color: #3385ff;
  fill: #06f;
}

@media (min-width: 768px) {
  .btn {
    min-width: 170px;
  }
}