@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');    font-family: 'Ubuntu', sans-serif; */
/*var de cor e font*/
:root{
  --cor1: #242840;
  --cor2: #2573D9;
  --cor3: #3264A6;
  --cor4:#2A558C ;
  --cor5: #BD2A2E ;
  --font-main:'Open Sans', sans-serif;
  --secon-font:'Roboto', sans-serif;
  --border: 1px solid var(--cor4) ;
}
*{
  font-family: var(--secon-font);
  margin: 0; padding: 0; 
  outline: none; border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: .2s linear;
}

/*html config*/
html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}
body{
  background-color: var(--cor4);
}
html::-webkit-scrollbar{
  width: .8rem;
}
html::-webkit-scrollbar-track{
  background: transparent;
}
html::-webkit-scrollbar-thumb{
  background: white;
  border-radius: 5rem;
}

.header{
  background: linear-gradient(to right, var(--cor1),var(--cor5), var(--cor1));
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 1.5rem 7%;
   border-bottom: var(--border);
   position: fixed;
   top: 0; left: 0; right: 0;
   z-index: 1000;
   box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.611);
 }

 .header .logo img {
  height: 6rem;
}

.logo-img{
  mix-blend-mode: multiply;
}

.header .navbar a{
  margin: 0 1rem;
  font-size: 1.6em;
  color: white;
}
.header .navbar a:hover{
  color: var(--cor1);
  border-bottom: var(--border);
  padding-bottom: .5rem;
}

.header .icons span{
  color: white;
  cursor: pointer;
  font-size: 2em;
  margin-left: 2rem;
}

.header .icons span:hover{
  color: var(--cor1);
}

#menu-bar{
  display: none;
}

/*home*/
 .home{
  padding: 2rem 9%;
 }

.home{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding-top: 10rem;
  background-color: var(--cor1);
  color: white;
}

.home .image{
  flex: 1 1 45rem;
}

.home .image img{
  width: 100%;
}

.home .content{
  flex: 1 1 45rem;
}

.home .content h1{
  font-size: 4.3rem;
  color: var(--cor5);
line-height: 1.8;
text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.482);
}

.home .content p{
  font-size: 1.7rem;
  line-height: 1.8;
  padding: 1rem 0;
}

/* CSS */
#btn {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid var(--cor5);
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  color: white;
}



#btn:hover {
  top: 0px;
  left: 0px;
  color: #2A558C;
  background-color: #2573D9;
}

/*section home end*/
strong{
  color: var(--cor5);
}

strong:hover{
  color: #2573D9;
}

/*section sobre*/
.sobre2{
  padding: 2rem 9%;
 }
.heading2{
  text-align: center;
  color: white;
  text-transform: capitalize;
  padding-bottom: 3.5rem;
  font-size: 2.79rem;
}
.heading2 span{
  color: var(--cor5);
}

.sobre2 .row2{
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  background-color: #242840;
}

.sobre2 .row2 .img2{
  flex: 1 1 45rem;
}
.sobre2 .row2 .img2 img{
  width: 100%;
}

.sobre2 .row2 .content2{
  flex: 1 1 45rem;
  padding: 2rem;
}

.sobre2 .row2 h2{
  font-size: 3rem;
  color: white;
}
.sobre2 .row2 .content2 p{
  font-size: 1.5rem;
  color: white;
  padding: 1rem 0;
  line-height: 1.8;
  text-indent: 10px;
}

button {
  background-color: var(--cor5);
  border-radius: 8px;
  border-width: 0;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover{
  color: black;
 background-color: #242840;
}

/*fim section sobre*/

/*section  number mask*/
.sobre{
  padding: 2rem 9%;
 }
.heading{
  text-align: center;
  color: white;
  text-transform: capitalize;
  padding-bottom: 3.5rem;
  font-size: 2.79rem;
}
.heading span{
  color: var(--cor5);
}

.sobre .row{
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  background-color: #242840;
}

.sobre .row .img{
  flex: 1 1 45rem;
}
.sobre .row .img img{
  width: 100%;
}

.sobre .row .content{
  flex: 1 1 45rem;
  padding: 2rem;
}

.sobre .row .content h2{
  font-size: 3rem;
  color: white;
}
.sobre .row .content p{
  font-size: 1.5rem;
  color: white;
  padding: 1rem 0;
  line-height: 1.8;
  text-indent: 10px;
}
.sobre .row .content strong{
  color: var(--cor5);
}
.sobre .row .content strong:hover{
  color: var(--cor4);
}

/*section number mask fim*/

/*section menu*/
.security .box-container{
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(40rem,1fr) );
  gap: 1.5rem;
  background-color: #242840;
}

.security .box-container .box{
  padding: 5rem;
  text-align: center;
  border: 1px solid var(--cor5);
}

.security .box-container .box h3{
  font-size: 2.3rem;
  color: white;
}

.security .box-container .box p{
  font-size: 1.5rem;
  color: white;
  padding: 1rem 0;
  line-height: 1.8;
  text-indent: 10px;
}
/*section menu fim*/

/*section usos*/
.heading3{
  text-align: center;
  color: white;
  text-transform: capitalize;
  padding-bottom: 3.5rem;
  font-size: 2.79rem;
}

.linha{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:#BD2A2E  ;
}
.text-linha{
  text-align: center;
  color: white;
  text-transform: capitalize;
  font-size: 2.42rem;
}

.linha .img3{
  border: 1px solid black;
  width: 70%;
  height: 70%;
}
/*section usos fim*/

/*section preços*/

.flex{
  background-color: #242840;
}



.wrapper{
  width: 400px;
  background: #fff;
  border-radius: 16px;
  padding: 30px;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
  margin: auto;
  background-color: var(--cor3);
}
.wrapper header{
  height: 55px;
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 30px;
  position: relative;
}
header label{
  height: 100%;
  z-index: 2;
  width: 30%;
  display: flex;
  cursor: pointer;
  font-size: 18px;
  position: relative;
  align-items: center;
  justify-content: center;
  transition: color 0.3s ease;
}
#tab-1:checked ~ header .tab-1,
#tab-2:checked ~ header .tab-2,
#tab-3:checked ~ header .tab-3{
  color: #fff;
}
header label:nth-child(2){
  width: 40%;
}
header .slider{
  position: absolute;
  height: 85%;
  border-radius: inherit;
  background: linear-gradient(145deg, var(--cor2) 0%, var(--cor4) 100%);
  transition: all 0.3s ease;
}
#tab-1:checked ~ header .slider{
  left: 0%;
  width: 90px;
  transform: translateX(5%);
}
#tab-2:checked ~ header .slider{
  left: 50%;
  width: 120px;
  transform: translateX(-50%);
}
#tab-3:checked ~ header .slider{
  left: 100%;
  width: 95px;
  transform: translateX(-105%);
}
.wrapper input[type="radio"]{
  display: none;
}
.card-area{
  overflow: hidden;
}
.card-area .cards{
  display: flex;
  width: 300%;
}
.cards .row{
  width: 33.4%;
}
.cards .row-1{
  transition: all 0.3s ease;
}
#tab-1:checked ~ .card-area .cards .row-1{
   margin-left: 0%;
}
#tab-2:checked ~ .card-area .cards .row-1{
  margin-left: -33.4%;
}
#tab-3:checked ~ .card-area .cards .row-1{
   margin-left: -66.8%;
}
.row .price-details{
  margin: 20px 0;
  text-align: center;
  padding-bottom: 25px;
  border-bottom: 1px solid #e6e6e6;
}
.price-details .price{
  font-size: 65px;
  font-weight: 600;
  position: relative;
  font-family: 'Noto Sans', sans-serif;
}
.price-details .price::before,
.price-details .price::after{
  position: absolute;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}
.price-details .price::before{
  content: "$";
  left: -13px;
  top: 17px;
  font-size: 20px;
}
.price-details .price::after{
  content: "/mon";
  right: -33px;
  bottom: 17px;
  font-size: 13px;
}
.price-details p{
  font-size: 18px;
  margin-top: 5px;
}
.row .features li{
  display: flex;
  font-size: 15px;
  list-style: none;
  margin-bottom: 10px;
  align-items: center;
}
.features li i{
  background: linear-gradient(#D5A3FF 0%, #77A5F8 100%);
  background-clip: text;
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}
.features li span{
  margin-left: 10px;
}
.wrapper button{
  width: 100%;
  border-radius: 25px;
  border: none;
  outline: none;
  height: 50px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
  background: linear-gradient(145deg, var(--cor5) 0%, var(--cor1) 100%);
  transition: transform 0.3s ease;
}
.wrapper button:hover{
  transform: scale(0.98);
}




/*fim section preços*/


@media (min-width: 768px) {
  #btn{
    padding: 13px 50px 13px;
  }
}

/*media query*/
@media (max-width: 991px){
  html{
    font-size: 55%;
  }
  .header{
    padding: 1.5rem 2rem;
  }
  section{
    padding: 2rem 7%;
  }
  .home .content{
    max-width: 60rem;
   margin: 0 auto;
  }
  .home div h2{
    font-size: 6em;
  }
  .home div p{
    font-size: 3em;
  }
  .linha .img3{
    border: 1px solid black;
    width: 86%;
    height: 70%;
  }
  .flex{
    display: none;
  }
}


.rodape{
  background: linear-gradient(to right, var(--cor1), var(--cor4), var(--cor5));
  text-align: center;
}
.rodape .share{
  padding: 1rem 0;
}
.rodape .share a{
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size:3.5rem;
  color: white;
  border: 1px solid var(--cor1);
  border-radius: 50%;
  margin: .3rem;
}
.rodape .share a:hover{
  color: var(--cor1);
 border: 1px solid black;
 background-color: var(--cor5);
}

.rodape .links{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem 0;
  gap: 1rem;
}
 .rodape .links a{
  padding: 2rem 2rem;
  color: white;
  font-size: 1.6rem;
 }
 .rodape .links a:hover{
  color: black;
 }
 .rodape .created{
  font-size: 2rem;
  color: white;
  font-weight: lighter;
  padding: 1.5rem;
 }
 .rodape .created span{
  color: #000;
 }


/*end footer s3ection*/



@media (max-width: 991px){
  #menu-bar{
    display: block;
  }
  .header .navbar{
    position: absolute;
    top: 100%; right: -100%;
    background-color: white;
    width: 30rem; 
    height: calc(100vh - 9.5rem);
  }
  .header .navbar.open{
    right: 0;
  }
  .header .navbar a { 
    color: black;
    display: block;
    margin: 1.5rem;
    padding: .5rem;
    font-size: 2em;
  }
  .cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .deploy .card-item{
    width: 80%;
  }
  .deploy .card-item img{
    width: 50%;
  }
}