@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');    font-family: 'Ubuntu', sans-serif; */
/*var de cor e font*/
:root{
  --cor1: #242840;
  --cor2: #2573D9;
  --cor3: #3264A6;
  --cor4:#2A558C ;
  --cor5: #F2C849;
  --font-main:'Open Sans', sans-serif;
  --secon-font:'Roboto', sans-serif;
}

/*reset universal*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:var(--font-main);
  text-decoration: none;
  outline: none;
}
/*body config*/
body{
  background-color: var(--cor4);
  width: 100vw;
  height: 100vh;
}

img{
  border-radius: 50%;
} 
/*menu de icones*/
.main-icons .icon-bar {
  width: 100%;
  height:50px;
  background-color: #242840;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid rgba(255, 255, 255, 0.508);
 
}
.main-icons .icon-bar  div{
  padding: .1rem;
  margin: 1rem;
}

.main-icons .icon-bar  div:hover{
  color: var(--cor5);
}


.main-icons .icon-bar a{
  padding: 1rem;
  color: white;
}

.main-icons .icon-bar a:hover{
  color: #2573D9;
}
/*header config*/
.header{
  max-width: 100%;
  height: 90%;
  margin: 0 auto;
  padding: 20px;
  background-image: url(../img/future-city.jpg.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
}

.navbar ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding-top: 10px;
  flex-wrap: wrap;
}

.navbar ul li a{
  color: white;
  font-size: 1.1em;
  padding: 10px;
  transition: 0.5s;
}


.navbar ul li a:hover{
  border-bottom: 1px solid var(--cor5);
  color: var(--cor2);
}
/*tentando deixar responsivo*/
.menu-icon{
  color: var(--cor1);
  display: none;
   cursor: pointer;
  font-size: 1.2em;
}

@media (max-width: 539px){
  .navbar ul{
    background-color: #2a548c;
    position: absolute;
    top: 175px;
    left:-100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100%;
  }
  .navbar ul.open{
    left: 0;
    display: block;
  }

  .navbar ul li{
    margin: 5px ;
  }
  .menu-icon{
    display: block;
    
  }
}




















/*media query*/
@media (max-width: 362px){
  .main-icons .icon-bar {
    width: 100%;
    padding: 10px;
    background-color: #242840;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}