@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');    font-family: 'Ubuntu', sans-serif; */
/*var de cor e font*/
:root{
  --cor1: #242840;
  --cor2: #2573D9;
  --cor3: #3264A6;
  --cor4:#2A558C ;
  --cor5: #F2C849;
  --font-main:'Open Sans', sans-serif;
  --secon-font:'Roboto', sans-serif;
}

/*reset universal*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:var(--font-main);
  text-decoration: none;
  outline: none;
}
/*body config*/
body{
  background-color: var(--cor4);
  width: 99vw;
  height: 100vh;
}

img{
  border-radius: 50%;
} 
/*menu de icones*/
.main-icons .icon-bar {
  width: 100%;
  height:50%;
  background-color: #242840;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid rgba(255, 255, 255, 0.508);
 
}
.main-icons .icon-bar  div{
  padding: .1rem;
  margin: 1rem;
}

.main-icons .icon-bar  div:hover{
  color: var(--cor5);
}


.main-icons .icon-bar a{
  padding: 1rem;
  color: white;
}

.main-icons .icon-bar a:hover{
  color: #2573D9;
}
/*header config*/
.header{
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-image: url(../img/tav.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
}

.navbar ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding-top: 10px;
  flex-wrap: wrap;
}

.navbar ul li a{
  color: black;
  font-size: 1.1em;
  padding: 10px;
  transition: 0.5s;
}


.navbar ul li a:hover{
  border-bottom: 1px solid var(--cor5);
  color: var(--cor2);
}
/*tentando deixar responsivo*/
.menu-icon{
  color: var(--cor1);
  display: none;
   cursor: pointer;
  font-size: 1.2em;
}
/*btn config*/
.btn{
  background-color: var(--cor1);
  color: white;
  padding: 15px 20px;
  border-radius: 10px;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  border: none;
  transition: 0.5s;
  animation: btn 1s ease-in-out infinite;
}
.btn:hover{
  background-color: var(--cor3);
}

/*animaçao btn */
@keyframes btn {
  from{
    outline: 0px solid var(--cor2);
  }
  to{
    outline: 5px solid var(--cor4);
  }
}
/*confg conteudo*/

.header-content{
  padding: 6rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.header-content .text{
  margin: 90px;
  text-align: center;
  padding: 0 90px;
}

.header-content .text h1{
  font-size: 3em;
  color: black;
  font-family: var(--secon-font);
}

.header-content .text p{
  font-size: 1.3em;
  font-weight: 700;
  margin: 18px 0;
}


/*conteudo principal*/
.img1{
  width: 500px;
}
.container .home{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  border-bottom: 1px solid var(--cor1);
}
.home{
  border: 1px solid transparent;
}

.container .text1{
  width: 50%;
  border-radius: 10px;
  text-indent: 1;
  margin: 10px;
}
.container h1{
  font-family: var(--secon-font);
  font-size: 2em;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.088);
}

.container .img1{
  width:500px;
  border-radius: 10px;
}

.container .img1 img{
  width: 100%;
  padding: 10px;
}

.container strong:hover{
  color: var(--cor4);
}

/*conteudo principal 2*/
.img2{
  width: 700px;
}
.container .sobre{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  padding: 10px;
  border-bottom: 1px solid var(--cor1);

}
.sobre{
  border: 1px solid transparent;
}
.container .text2{
  width: 30%;
  border-radius: 10px;
  text-indent: 1;
  margin: 10px;
  border: 1px solid transparent;
}
.container .img2{
  width:500px;
  border-radius: 10px;
}
.sobre a:hover{
  color: #F2C849;

}
/*conteudo principal 3*/
.deploy{
  background-color: white;
  border-bottom: 1px solid var(--cor1);
}
.deploy h1{
  text-align: center;
  font-size: 2em;
  font-family: var(--secon-font);
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.11);
}

.deploy p{
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.2em;
}

.cards{
  display: flex;
  justify-content: center;
}

.deploy .card-item{
  background-color: #2573d998;
  margin: 15px;
  border-radius: 10px;
  text-align: center;
  width: 50%;
  padding: 10px;
  transition: 0.3s;
}

.deploy .card-item .title-tips{
  font-weight: 600;
  font-size: 1.2em;
  margin-bottom: 15px;
  transition: 0.3s;
}

.deploy .card-item .textos{
  font-size: 1em;
  padding: 0 15px;
  transition: 0.3s;
}

.deploy .card-item:hover{
  background-color: #242840b1;
  margin-top: -5px;
}
.deploy .card-item:hover .title-tips,
.deploy .card-item:hover .textos
{
  color: white;
}
/*aside*/
.img3{
  width: 400px;
}
.container .segu{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid var(--cor1);
}

.segu{
  border: 1px solid transparent;
}

.segu .text3{
  width: 30%;
  text-indent: 1;
  margin: 10px;
  border: 1px solid transparent;
}
.btn-segu{
  background-color: var(--cor1);
  color: white;
  padding: 15px 20px;
  border-radius: 10px;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  border: none;
}
.btn-segu:hover{
  background: linear-gradient(to right, var(--cor5), var(--cor3), var(--cor4));
}
/*section 4*/
.container .vant{
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../img/sec-4.jpg);
  background-size: cover;
  background-position: center ;
  background-attachment: fixed;
  width: 100%;
  padding: 20px;
  color:white;
}

.container .vant text4{
  border: 1px solid transparent;
}
.container .vant h1{
  font-size: 2em;
  font-family: var(--secon-font);
  background-image: linear-gradient(to right, var(--cor2), var(--cor5), var(--cor4));
  text-align: center;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.205);
}
.container .vant ul{
  font-size: 1.3em;
  width: 90%;
  border-radius: 10px;
  text-indent: 1;
  margin: 10px;
  list-style: none;
  font-weight: 600;
}

/*footer*/
.rodape{
  background-color: var(--cor1);
  text-align: center;
}
.rodape .icons{
  padding: 1rem 0;
}
.rodape .icons a{
  height: 3rem;
  width: 4rem;
  line-height: 3rem;
  font-size: 2rem;
  color: white;
  border: 1px solid var(--cor5);
  margin: 1rem;
  border-radius: 50%;
}
.rodape .icons a:hover{
  background-color: var(--cor4);
}
.rodape .links{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 0;
  gap: 1rem;
}
.rodape .links a{
  color:white;
  padding: .4rem .2rem;
  border: 1px solid var(--cor5);
  font-size: 1.2em;
  border-radius: 10px;
}
.rodape .links a:hover{
  background-color: var(--cor3) ;
}
.rodape .text5{
  font-size: 1.3em;
  color: white;
  font-weight: lighter;
  padding: 1.5rem;
}
.rodape span{
  color: var(--cor5);
}
/*media q conteudo principal*/
@media (max-width: 840px){
  .container .home{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .container .home .img1{
    width: 250px;
  }
  .container .text1{
    margin-top: 10px;
    padding: 0 20px;
    border: 1px solid transparent;
    width: 100%;
    text-indent: 10px;
  }
  .container .sobre{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .container .sobre .img2{
    width: 250px;
  }
  .container .text2{
    margin-top: 10px;
    padding: 0 20px;
    border: 1px solid transparent;
    width: 100%;
    text-indent: 10px;
  }
  .cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .deploy .card-item{
    width: 80%;
  }
  .container .segu{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .img3{
    width: 280px;
  }
  .container .text3{
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    padding: 0 20px;
    border: 1px solid transparent;
    width: 100%;
    text-indent: 10px;
  }
  .container .vant{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
@media (max-width: 417px){
  .deploy .card-item{
    width: 90%;
   
  }
}
/*media q header */

@media (max-width: 539px){
  .navbar ul{
    background-color: #2a548c;
    position: absolute;
    top: 175px;
    left:-100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100%;
  }
  .navbar ul.open{
    left: 0;
    display: block;
  }

  .navbar ul li{
    margin: 5px ;
  }
  .menu-icon{
    display: block;
    
  }
}
/*media query menu */
@media (max-width: 362px){
  .main-icons .icon-bar {
    width: 100%;
    padding: 10px;
    background-color: #242840;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}

/*media query footer*/