@charset "UTF-8";

:root{
  --cor1: #3264A6;
  --cor2: #939EBF;
  --cor3: #2573D9;
  --cor4: #242840;
  --cor5: #F2F2F2;
}

/*:root{
  --cor1: #242840;
  --cor2: #2573D9;
  --cor3: #3264A6;
  --cor4:#2A558C ;
  --cor5: #F2C849;
}*/

/*device breakpoins
celular 767px
tablet 768 até 1023px
desktop 1024 até 1280px
telas grandes acima de 1281px
*/    /*abaixou config tablet*/
@media screen and (min-width: 768px)  {

  body{
    background-image: linear-gradient(to top, var(--cor4), var(--cor3), var(--cor1));
  }

    section#login{
      width: 80vw;
      height: 60vh;
    }

    section#login > div#img{
      float: left;
      width: 40%;
      height: 100%;
      background-position: center center;
    }


    section#login > div#form{
      float: right;
      width: 60%;
    }
    div#form > h1{
      text-align: center;
      font-size: 1.6em;
    }

    div#forgot > a{
      font-size: 1em;
    }

}
/*abaixou config desktop*/
@media screen and (min-width: 1024px) and (max-width: 1440px) {
 
  body{
    background-image: linear-gradient(to top, var(--cor4), var(--cor3), var(--cor1));
  }


  section#login{
    width: 950px;
  }
  
  section#login > div#img{
    float: right;
    width: 50%;
    height: 100%;
    background-position: center ;
  }
  

  section#login > div#form{
    float: left;
    width: 50%;
  }
  div#form > h1{
    font-size: 2em;
    text-align: center;
  }
  
  div#forgot > a{
    font-size: 1em;
  }
}
/*abaixou config telas grandes*/
@media screen and (min-width: 1440px) {
  body{
    background-image: linear-gradient(to top, var(--cor4), var(--cor3), var(--cor1));
  }


  section#login{
    width: 950px;
  }
  
  section#login > div#img{
    float: right;
    width: 50%;
    height: 100%;
    background-position: center ;
  }
  

  section#login > div#form{
    float: left;
    width: 50%;
  }
  div#form > h1{
    font-size: 2em;
    text-align: center;
  }

  div#forgot > a{
    font-size: 1em;
  }
}