@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
/* sem mobile first*/
:root{
  --cor1: #BBC8F2;
  --cor2: #939EBF;
  --cor3: #585F73;
  --cor4: #313540;
  --cor5: #F2F2F2;
}


/*fontes:
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
font-family: 'Ubuntu', sans-serif;*/
/*reset*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

html,body{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to top, var(--cor2), var(--cor3), var(--cor4) );
}


.container{
  width: 60%;
  height: 90%;
  padding: 28px;
  margin: 0 28px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #f2f2f2be;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.266);
}

h1{
  text-align: left;
  font-size: 2em;
  padding-bottom: 10px;
  border-bottom: 2px solid var(--cor4);
}

.content{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0;
}

.campo{
  display: flex;
 flex-wrap: wrap;
  width: 50%;
 padding-bottom: 25px;
} 

.campo:nth-child(2n){
  justify-content: end;
}

.campo label, .gen-title{
  width:95%;
  font-weight: 600;
  margin: 5px 0;
  cursor: pointer;
}
.gen-title{
  font-size: 1em;
}

.campo input{
  height: 40px;
  width: 95%;
  border-radius: 5px;
  padding: 0 15px;
  border: none;
  outline: none;
}

.genero {
  padding: 0 20px 0 10px ;
  font-size: 1.1em;
}

.genero label, .genero input{
  cursor: pointer;
}

.text{
  font-size: 1.2em;
  margin: 5px 0;
  padding:5px;
}
.text:hover{
  color: var(--cor3);
}

#btn{
 width: 100%;
 margin: 10px;
 padding: 20px;
 display: block;
 border: none;
 background: linear-gradient(to right, var(--cor2), var(--cor3), var(--cor4)  );
 color: #F2F2F2;
 border-radius: 10px;
 font-size: 1.3em;
 cursor: pointer;
 transition: 0.3s;
}

#btn:hover{
  background: linear-gradient(to right, var(--cor4), var(--cor3), var(--cor2));
  color: var(--cor5);
}

@media (max-width: 600px){
  .container{ /*min-width*/
   min-width: 380px;
  }
  .content{ /*max-height*/
  max-height: 380px;
  }
  .campo{
    margin-bottom: 12px;
    width: 100%;
  }
.campo:nth-child(2n){
  justify-content: space-between;
}
.genero{
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 10px;
}

.content::-webkit-scrollbar{
  width: 0;
}

}


/*não consigo resolver está merda só vai até 362 depois quebra*/
@media (max-width: 362px){
  .container{
    width: 590px;
    height: 590px;
  }

  .content{
    height: 90%;
    width: 100%;
    overflow: auto;
    padding: 10px;
    margin: 6px;
  }

  #btn{
    width:90% ;
  }

  h1{
    font-size: 1.2em;
  }
}
