@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
/* sem mobile first*/
:root{
  --cor1: #242840;
  --cor2: #2573D9;
  --cor3: #3264A6;
  --cor4:#2A558C ;
  --cor5: #BD2A2E ;
}


/*fontes:
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
font-family: 'Ubuntu', sans-serif;*/
/*reset*/

*{ /*reset*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}
/*configurei body */
body{
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background: url(../img/imgfundo.jpg);
  background-size: cover;
  background-position: center center;
}
/*configurei o conteudo global*/
.container{
  width: 100%;
  max-width: 650px;
  background-color: #24284094;
  padding: 28px;
  margin: 0 28px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.404);
}
/*titulo principal*/
h1{
  font-size: 1.9em;
  font-weight: 600;
  text-align: center;
  padding-bottom: 10px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.232);
  border-bottom: solid 1px white;
  color: white;
}

/*div das input*/
.content{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0 ;
}
/*as inputs configuradas*/
.caixa:nth-child(2n){
  justify-content: end;
}

.caixa{
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  padding-bottom: 15px;
}

.caixa label{
  width: 95%;
  color: white;
  font-weight: 400;
  margin: 5px 0;
}

.caixa input{
  height: 30px;
  width: 95%;
  border-radius: 7px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.305);
  padding: 0 10px;
}
/*configurei genero*/
.gen-title{
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  border-bottom: 1px solid white;
}
.categoria{
  color: white;
  margin: 10px 0;
  cursor: pointer;
}
.categoria label{
  padding: 0 20px 0 5px;
  cursor: pointer;
}

.form-btn{
  margin-top: 30px;
}

.form-btn input {
  display: block;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
  font-size: 1.4m;
  border: none;
  padding: 10px;
  border-radius: 5px;
  color: white;
  background: linear-gradient(to right, var(--cor1), var(--cor2), var(--cor3),var(--cor4));
}

.form-btn input:hover{
  color: #F2C849;
  background: linear-gradient(to right, var(--cor4), var(--cor3), var(--cor2), var(--cor1));
}
/*media 413px*/
  @media (max-width: 600px){
  .container{
    min-width: 280px;
    display: flex;
    flex-direction: column;
  }
  .caixa{
    margin-bottom: 12px;
    width: 50%;
  }
  .caixa:nth-child(2n){
    justify-content: space-between;
  }

  .categoria{
    width: 50%;
  }


}